{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .SelfDescription | markdownify }}</p>
    </section>
    <img src="/images/profile.png" class="profilepic">
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>

<article class="second-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title2 | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content2 | markdownify }}</p>
    </section>
</article>
{{- end -}}
